In [7]:
import torch
import os
import pandas as pd

# 1. 创建csv文件

创建一个csv表格，显示姓名、年龄、性别、分数

In [10]:
# csv文件位置
csv_path = os.path.join('.','data.csv')

# 写文件
with open(csv_path,'w') as f:
    f.write('Name,Age,Sex,Score\n')
    f.write('Nick,12,male,99\n')
    f.write('Jack,13,female,NA\n')
    f.write('Nancy,11,female,NA\n')

# 2. 读取csv文件

In [11]:
data = pd.read_csv(csv_path)
data

    Name  Age     Sex  Score
0   Nick   12    male   99.0
1   Jack   13  female    NaN
2  Nancy   11  female    NaN

# 3. 操作csv数据

In [17]:
# 按行和列截取部分csv数据
inputs, outputs = data.iloc[:,1], data.iloc[:,3]
inputs, outputs, type(inputs), type(outputs)

(0    12
 1    13
 2    11
 Name: Age, dtype: int64,
 0    99.0
 1     NaN
 2     NaN
 Name: Score, dtype: float64,
 pandas.core.series.Series,
 pandas.core.series.Series)

In [19]:
# 计算列数据的最大值、最小值、平均值
inputs.min(), inputs.max(), inputs.mean()

(11, 13, 12.0)

In [20]:
# 填充带有NAN的数据
outputs.fillna(outputs.mean())

0    99.0
1    99.0
2    99.0
Name: Score, dtype: float64

# 4. 对csv某一列进行分类

In [39]:
x = data.iloc[:,0:2]
x

    Name  Age
0   Nick   12
1   Jack   13
2  Nancy   11

In [44]:
x_1 = pd.get_dummies(x, columns=['Age'])
x_2 = pd.get_dummies(x,columns=['Name'])
x_3 = pd.get_dummies(x,columns=['Age','Name'])
x_1, x_2, x_3

(    Name  Age_11  Age_12  Age_13
 0   Nick   False    True   False
 1   Jack   False   False    True
 2  Nancy    True   False   False,
    Age  Name_Jack  Name_Nancy  Name_Nick
 0   12      False       False       True
 1   13       True       False      False
 2   11      False        True      False,
    Age_11  Age_12  Age_13  Name_Jack  Name_Nancy  Name_Nick
 0   False    True   False      False       False       True
 1   False   False    True       True       False      False
 2    True   False   False      False        True      False)